<!DOCTYPE html>
<html style="height:100%;">
	<head>
		<title>Currency Converter</title>
		<meta charset="utf-8" />
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/other.css') }}">
		<link rel="icon" href="{{ url_for('static',filename='images/icons/favicon.ico') }}">
	</head>
	<body style="height:100%;">
	<div style="height:100%;" class="container">
	    <div>
	        <a class="goback" href="/">Back to the currency converter</a>
	        <label class="lbabout">ABOUT CURRENCY CONVERTER</label><br>
	        <label class="about">This is an online currency converter and a source of knowledge about currency exchange. We seek to provide a simple tool for a quick but accurate currency conversion as well as articles to help give people authentic money-exchange advice and tips.</label>
	    </div>
	    <div class="footer">
	        <label>Copyright © 2018</label>
	    </div>
	</div>
	</body>
</html>
