<!DOCTYPE html>
<html style="height:100%;">
	<head>
		<title>Currency Converter</title>
		<meta charset="utf-8" />
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/other.css') }}">
		<link rel="icon" href="{{ url_for('static',filename='images/icons/favicon.ico') }}">
	</head>
	<body style="height:100%;">
        <div style="height:100%;" class="container">
            <div style="padding:50px">
                <a href="mailto:air.oamyst517@yahoo.com"style="font-size:110%;font-weight:bold;padding:10px;text-decoration:none;">Contact via email - air.oamyst517@yahoo.com</a>
                <a class="goback" href="/">Back to the currency converter</a>
            </div>
            <div class="footer">
                <label>Copyright © 2018</label>
            </div>
        </div>
	</body>
</html>
